<!DOCTYPE html>
<html>
<head>
	<title>WordPress Package Creator</title>
</head>

<body>
<h1>WordPress Package Creator</h1>
<form method="post" action="/pkgCreate">
<table>
<tr>
	<td>Package Name</td><td><input type="text" name="package_name"></td>
</tr><tr>
	<td>Professor</td><td><input type="text" name="professor"></td>
</tr><tr>
	<td>Course</td><td><input type="text" name="course"></td>
</tr><tr>
	<td>Semester</td><td><input type="text" name="semester"></td>
</tr>
</table><br>


<h3>Add Plugins</h3>
<table>
<tr>
<td>Number of Plugins</td><td><input type="number" name="num_plug" value=0 style="width:50px" /><input type ="button" value=" + " onclick="addMorePlugins()" /></td>
</tr>
</table><br>
	<span id="plugin_response"></span>

<h3>Add a Theme</h3>
<table>
<tr>
	<td>Theme Name</td><td><input type="text" name="theme_name" /></td>
</tr><tr>
	<td>Theme URL</td><td><input type="url" name="theme_url" /></td>
</tr>
</table>

<br>
<h3>Add Posts</h3>
<table>
<tr>
	<td>Number of Posts</td><td><input type="number" name="num_posts" value=0 style="width:50px" /><input type ="button" value=" + " onclick="addMorePosts()" /></td>
</tr>
</table><br>
	<span id="post_response"></span>

<h3>Add Pages</h3>
<table>
<tr>
	<td>Number of Pages</td><td><input type="number" name="num_pages" value=0 style="width:50px" /><input type ="button" value=" + " onclick="addMorePages()" /></td>
</tr>
</table><br>
	<span id="page_response"></span>

<h3>Categories</h3>
<table>
<tr>
	<td>Number of Categories</td><td><input type="number" name="num_cats" value=0 style="width:50px" /><input type ="button" value=" + " onclick="addMoreCategories()" /></td>
</tr>
</table><br>
	<span id="category_response"></span>

<h3>Tags</h3>
<table>
<tr>
	<td>Number of Tags</td><td><input type="number" name="num_tags" value=0 style="width:50px" /><input type ="button" value=" + " onclick="addMoreTags()" /></td>
</tr>
</table><br>
	<span id="tag_response"></span>

<br><input type="submit" value="Create Package" name="submit" />

</form>


<script>
	var plugCountBox = 1;
	var plugBoxName = 0;

	var postCountBox = 1;
	var postBoxName = 0;

	var pageCountBox = 1;
	var pageBoxName = 0;
	
	var categoryCountBox = 1;
	var categoryBoxName = 0;

	var tagCountBox = 1;
	var tagBoxName = 0;
	
	function addMorePlugins() {
        	var plugBoxName = "textBox"+plugCountBox;
        	document.getElementById('plugin_response').innerHTML+='<table><tr><td>Plugin Name</td><td><input type="text" name="plugin_name'+plugCountBox+'"/></td></tr><tr><td>Plugin URL</td><td><input type="url" name="plugin_url'+plugCountBox+'" /></td></tr></table>';
	        plugCountBox += 1;  
	}

	function addMorePosts() {
		var postBoxName = "textBox"+postCountBox;
		document.getElementById('post_response').innerHTML+='<table><tr><td>Post Title</td><td><input type="text" name="post_title'+postCountBox+'" /></td></tr><tr><td>Content</td><td><textarea name="post_content'+postCountBox+'" rows=6 cols=42></textarea></td></tr></table>';
		postCountBox +=1;
	}
	
	function addMorePages() {
		var pageBoxName = "textBox"+pageCountBox;
		document.getElementById('page_response').innerHTML+='<table><tr><td>Page Name</td><td><input type="text" name="page_name'+pageCountBox+'" /></td></tr><tr><td>Description</td><td><textarea name="page_desc'+pageCountBox+'" rows=6 cols=42></textarea></td></tr><tr><td>Slug</td><td><textarea name="page_slug'+pageCountBox+'" rows=6 cols=42></textarea></td></tr></table>';
		pageCountBox += 1;
	}

	function addMoreCategories() {
		var categoryBoxName = "textBox"+categoryCountBox;
		document.getElementById('category_response').innerHTML+='<table><tr><td>Category Name</td><td><input type="text" name="category_name'+categoryCountBox+'" /></td></tr><tr><td>Description</td><td><textarea name="category_desc'+categoryCountBox+'" rows=6 cols=42></textarea></td></tr><tr><td>Slug</td><td><textarea name="category_slug'+categoryCountBox+'" rows=6 cols=42></textarea></td></tr></table>';
		categoryCountBox += 1;
	}

	function addMoreTags() {
		var tagBoxName = "textBox"+tagCountBox;
		document.getElementById('tag_response').innerHTML+='<table><tr><td>Tag Name</td><td><input type="text" name="tag_name'+tagCountBox+'" /></td></tr><tr><td>Slug</td><td><textarea name="tag_slug'+tagCountBox+'" rows=6 cols=42></textarea></td></tr></table>';

		tagCountBox += 1;
	}
</script>

</body>
</html>
